@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-gradient: linear-gradient(to top left, yellow, yellowgreen);
    --border-radius-rem: .7rem;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-repeat: no-repeat;
    background: green;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}

input, button{
    border: none;
    outline: none;
}

p{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .1em;

}

h5{
    letter-spacing: .2em;
    line-height: 1.1;
    font-size: 1rem;
}

span{
    line-height: 1.1;
    font-size: 1rem;
    letter-spacing: .1em;

}


/* Icons */
.uil{
    font-size: 19px;
    cursor: pointer;
}

.uil-trash-alt{
    color: red  ;
}


.uil-edit-alt{
    color: green;
}

.todo__container{
    height: 100%;
    width: 100%;
    /* background: var(--bg-gradient); */
    display: flex;
    justify-content: center;
    align-items: center;
}


.todo__wrapper{
    /* background-color: #ffffff; */
    /* background: greenyellow; */
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin: auto;
    /* border-radius: var(--border-radius-rem); */
   
 
}

.todo__task__form{
display: flex;
justify-content: center;
align-items: center;
gap: 1rem;
margin-bottom: 2rem;
border-radius: var(--border-radius-rem);
/* padding: 1rem; */
position: relative;
border: 1px solid green;


}

.todo__task__form button{
    padding: .5rem;
border: none;
/* background: var(--bg-gradient); */
background: green;
color: yellow;
border-radius: var(--border-radius-rem);
position: absolute; 
right: 0;

}

.todo__task__form .new__task{
    border: none;
    padding: .7rem;
    background: rgb(191, 245, 191);
    
    border-radius: var(--border-radius-rem);
    width: 100%;
}

.todos{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    max-height: 20rem;
    overflow-y: scroll;
margin-top: 2rem;
}

.todos::-webkit-scrollbar{
    display: none;
}


input[type="checkbox"]{
    background: red;
    padding: 1rem;
    border-radius: var(--border-radius-rem);
}

.todo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.todo__subwrapper__checked {
    background: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(148, 255, 148);
    padding: .7rem 1rem;
    border-radius: var(--border-radius-rem);
    transition: transform 1s, opacity 1s;
}

.todo__subwrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(148, 255, 148);
    padding: .7rem 1rem;
    border-radius: var(--border-radius-rem);
    transition: all ease-in-out 1s;
}

.todo__subwrapper .task{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .1rem;
font-weight: 600;
max-width: fit-content;
overflow: hidden;
}

.delete{
    cursor: pointer;
}

.checked{
color: gray;
text-decoration: line-through;
}

.num__task__completed{
    font-size: .5rem;
    color: white;
    font-weight: 400;
}

.delete__enquiry{
    background: yellow;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -100%);
    /* opacity: 0; */
    z-index: 10;
    padding: 2rem;
    width: 60%;
    border-radius: var(--border-radius-rem);
    text-align: center;

    /* transition: opacity 5s, transform 5s; */
}



.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: rgba(0, 0, 0, 0.274);
    width: 100vw;
    height: 100%;
}

.delete__overlay{
    display: none;
}

.btn{
    border: none;
    border-radius: var(--border-radius-rem);
    padding: .7rem 1rem;
    background: green;
    color: white;
    margin-top: 1rem;
    }

.del__enquiry__no{
    background: red;
    margin-left: 1rem;
}

.edit__overlay{
    display: none;
    background: green;
    /* height: 5rem; */
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;

}


.edit__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem  2rem;

    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.274);
}

.edit__form label{
    color: greenyellow;
}

.edit__form input{
    padding: .5rem;
    border-radius: var(--border-radius-rem);
    background: rgba(255, 255, 255, 0.897);
}

.edit__form button{
    padding: .5rem;
    border-radius: var(--border-radius-rem);
    background: greenyellow;
    color: green;
}

.completed__tasks__container{
    margin-top: 2rem;
}

.completed__heading{
    display: flex   ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.completed__heading button{
    border: none;
    border-radius: 50%  ;
    padding: .1rem;
    color: green;
    background: yellow;
}

.completed__tasks{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 20rem;
    overflow-y: scroll;
}

@media screen and (min-width: 600px){


    .todo__wrapper{
        width: 65%;
    }
    
}

@media screen and (min-width: 900px){


    .todo__wrapper{
        width: 50%;
    }
    
}

@media screen and (min-width: 1240px){

    .todo__wrapper{
        width: 30%;
    }
    
}
