@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-gradient: linear-gradient(to top left, yellow, yellowgreen);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Montserrat", sans-serif;

  
}

input, button{
    border: none;
    outline: none;
}


/* Icons */
.uil{

    font-size: 19px;
}

.uil-trash-alt{
    color: red  ;
}


.uil-edit-alt{
    color: green;
}

.todo__container{
    height: 100%;
    width: 100%;
    background: var(--bg-gradient);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.todo__wrapper{
    background-color: #ffffff;
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
   
 
}

.todo__topbar{
display: flex;
justify-content: center;
align-items: center;
gap: 1rem;
margin-bottom: 2rem;
border-radius: 1rem;
/* padding: 1rem; */
position: relative;
border: 1px solid green;


}

.todo__topbar button{
    padding: .5rem;
border: none;
background: var(--bg-gradient);
border-radius: 1rem;
position: absolute; 
right: 0;

}

.todo__topbar input[type="text"]{
    border: none;
    padding: .5rem;
    background: rgb(191, 245, 191);
    border-radius: 1rem;
    width: 100%;
}

.todos{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    max-height: 20rem;
    overflow-y: scroll;
margin-top: 2rem;
}

.todos::-webkit-scrollbar{
    display: none;
}


input[type="checkbox"]{
    background: red;
    padding: 1rem;
    border-radius: 50%;
}

.todo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.todo__subwrapper__checked {
    background: yellow;
}

.todo__subwrapper{
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
    background: rgb(191, 245, 191);
    padding: .7rem 1rem;
    border-radius: 2rem;


    transition: transform 1s, opacity 1s;
    
}

.delete{
    cursor: pointer;
}

.checked{
color: gray;
text-decoration: line-through;
}

.delete__enquiry{
    background: yellow;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    z-index: 10;
    padding: 2rem;
    width: 60%;
    border-radius: 1rem;
    text-align: center;

    /* transition: opacity 5s, transform 5s; */
}

.delete__overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.274);
    display: none;
}

.btn{
    border: none;
    border-radius: 10px;
    padding: .7rem 1rem;
    background: green;
    color: white;
    margin-top: 1rem;
    }

.del__enquiry__no{
    background: red;
    margin-left: 1rem;
}
@media screen and (min-width: 600px){


    .todo__wrapper{
        width: 65%;
    }
    
}

@media screen and (min-width: 900px){


    .todo__wrapper{
        width: 50%;
    }
    
}

@media screen and (min-width: 1240px){

    .todo__wrapper{
        width: 30%;
    }
    
}